* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e5e5f7;
    opacity: 1;
    background-image: linear-gradient(#444df71c 1px, transparent 1px), linear-gradient(to right, #444df71c 1px, #e5e5f7 1px);
    background-size: 20px 20px;
}

main {
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 50vh;
    border-radius: 7px;
    background-color: #ffffff;
    border: 2px solid rgb(213, 213, 213);
}

header {

    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        margin-bottom: 10px;
    }

    kbd {
        background-color: #eee;
        border-radius: 3px;
        border: 1px solid #b4b4b4;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
        color: #333;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        font-weight: 500;
        white-space: nowrap;
        width: fit-content;
        padding: 2px 3px;
        margin: 0 5px;
        cursor: pointer;
        user-select: none;
    }
}

section {
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: 50px;
    position: relative;
    border: 1px solid rgba(75, 75, 171, 0.605);
    border-radius: 3px;
}

section::before {
    content: '⇠⇠⇠';
    font-size: 32px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50px;
    display: flex;
    justify-content: start;
    align-items: center;
    pointer-events: none;
    animation: animarrow 1s ease-in-out infinite;
    color: rgb(192, 195, 198);
}


@keyframes animarrow {

    0%,
    100% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(10px, 0);
    }
}


input[type='checkbox'] {
    appearance: none;
    height: 26px;
    aspect-ratio: 1 / 1;
    cursor: pointer;
    border: 2px solid rgba(63, 67, 67, 0);
    outline: 2.5px solid rgb(153, 155, 162);
    outline-offset: 1.5px;
    border-radius: 50%;
    background: url(unchecked.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

input[type='checkbox']:checked {
    background: url(checked.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-color: rgb(255, 255, 255);
    outline: 2.5px solid rgb(64, 95, 208);
}

button {
    padding: 7px 10px;
    opacity: 0;
    transition: opacity 400ms ease-in;
    cursor: pointer;
    border: 2px solid rgb(172, 172, 172);
    border-radius: 3px;

}

.animated-display {
    opacity: 1;
}

@starting-style {
    button.animated-display {
        opacity: 0;
    }
}


footer{

    h5{
        font-size: 15px;
        font-weight: 500;

        &::before{
            content: '🐧';
            font-size: 18px;
        }
    }

}

@media (max-width: 426px) {

    main{
        width: 90%;
    }
    section {
        width: 80%;

        header {
            h2 {
                font-size: 15px;
                text-align: center;
            }

            p {
                font-size: 14px;
            }
        }

        section {
            width: 80%;
        }
    }
}
